<h1>Signup</h1>

<form action="/signup" method="post">
    
    <label for="username">Username: </label>
    <input id="username" type="text" name="username" placeholder="Goku">
    
    <br><br>
    
    <label for="password">Password: </label>
    <input id="password" type="password" name="password" placeholder="Password Here">
    
    <br><br>


<button>Submit</button>

</form>

<br>

<button><a href="/">Home Page</a></button>